<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>200</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>201</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>202</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>210</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>211</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>212</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>221</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>230</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>231</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>232</key>
	<dict>
		<key>desc</key>
		<string>雷雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>300</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>301</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>302</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>310</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>311</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>312</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>321</key>
	<dict>
		<key>desc</key>
		<string>毛毛雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>500</key>
	<dict>
		<key>desc</key>
		<string>小雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>501</key>
	<dict>
		<key>desc</key>
		<string>中雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>502</key>
	<dict>
		<key>desc</key>
		<string>大雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>503</key>
	<dict>
		<key>desc</key>
		<string>大雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>504</key>
	<dict>
		<key>desc</key>
		<string>暴雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>511</key>
	<dict>
		<key>desc</key>
		<string>冻雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>520</key>
	<dict>
		<key>desc</key>
		<string>阵雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>521</key>
	<dict>
		<key>desc</key>
		<string>阵雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>522</key>
	<dict>
		<key>desc</key>
		<string>阵雨</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>600</key>
	<dict>
		<key>desc</key>
		<string>小雪</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>601</key>
	<dict>
		<key>desc</key>
		<string>雪</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>602</key>
	<dict>
		<key>desc</key>
		<string>大雪</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>611</key>
	<dict>
		<key>desc</key>
		<string>雨夹雪</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>621</key>
	<dict>
		<key>desc</key>
		<string>阵雪</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>701</key>
	<dict>
		<key>desc</key>
		<string>雾</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>711</key>
	<dict>
		<key>desc</key>
		<string>雾</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>721</key>
	<dict>
		<key>desc</key>
		<string>雾</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>731</key>
	<dict>
		<key>desc</key>
		<string>雾</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>741</key>
	<dict>
		<key>desc</key>
		<string>雾</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>800</key>
	<dict>
		<key>desc</key>
		<string>晴</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>801</key>
	<dict>
		<key>desc</key>
		<string>多云</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>802</key>
	<dict>
		<key>desc</key>
		<string>多云</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>803</key>
	<dict>
		<key>desc</key>
		<string>多云</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>804</key>
	<dict>
		<key>desc</key>
		<string>多云</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>900</key>
	<dict>
		<key>desc</key>
		<string>龙卷风</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>901</key>
	<dict>
		<key>desc</key>
		<string>热带气旋</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>902</key>
	<dict>
		<key>desc</key>
		<string>飓风</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>903</key>
	<dict>
		<key>desc</key>
		<string>低温</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>904</key>
	<dict>
		<key>desc</key>
		<string>高温</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>905</key>
	<dict>
		<key>desc</key>
		<string>大风</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>906</key>
	<dict>
		<key>desc</key>
		<string>冰雹</string>
		<key>icon</key>
		<string></string>
	</dict>
</dict>
</plist>
